@import '../../assets/style/variables'

footer
    background-color: $light-green;
    line-height: 50px
    position: fixed; 

    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
    z-index: 100