<div class="consultation-item">
  <header>
    <button mat-button mat-fab (click)="toggleItem()">+</button>
    <span>{{ this.option.name }}</span>
  </header>

  <section *ngIf="option.show">
    <form class="item-form" [formGroup]="consultationItemForm" (ngSubmit)="onSubmit(consultationItemForm)" novalidate>
      <div class="align-right alert-align">  
        <mat-slide-toggle class="alertToggle"
          formControlName="alert" 
          labelPosition="before"
          [checked]="patientConsultation.alert">
            Alert
        </mat-slide-toggle>
      </div>

      <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50%">
          <mat-form-field class="all-width">
            <input formControlName="dbp" matInput placeholder="DBP" value="{{ patientConsultation.dbp }}">
            <span class="additional-info" matSuffix>02.02.2018</span> <!-- TODO softcode with input date -->
          </mat-form-field>
          
          <mat-form-field class="all-width">
            <input formControlName="sbp" matInput placeholder="SBP" value="{{ patientConsultation.sbp }}">
            <span class="additional-info" matSuffix>02.02.2018</span> <!-- TODO softcode with input date -->
          </mat-form-field>
        </div>
  
        <div fxFlex="50%" class="align-right diabetes-align">  
            <mat-radio-group formControlName="diabetes">Diabetes
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
            </mat-radio-group>
        </div>
      </div>
      <div fxLayout="row">
        <mat-form-field class="all-width">
          <mat-placeholder><mat-icon>chat_bubble</mat-icon><i> Comment</i></mat-placeholder>
          <textarea matInput value="{{ patientConsultation.comment }}" formControlName="comment"></textarea>
        </mat-form-field>
      </div>
  
      <div fxLayout="row">
        <button class="save-button" mat-button [disabled]="!consultationItemForm.valid">Save</button>
      </div>
    </form>
                
  </section>
</div>
