@import '../../../assets/style/variables'

.consultation-item
    header
        padding: 10px
        border-top: 1px solid #999999;
        border-bottom: 1px solid #999999;

        span
            margin-left: 30px
            font-size: 1.2em

    form.item-form
        margin: 20px 60px 20px 80px

        mat-form-field
            span.additional-info
                color: #cccccc
                font-size: 0.8em

        button
            margin: auto
            width: $save-button-width

        .all-width
            width: 100%

        .alert-align
            line-height: 40px

        .diabetes-align
            margin-top: 30px