         
<aside id="left-container" class="sidenav" >
  <!-- TODO deserves a component -->
  <div id="patient-card">
      <img src="../../assets/patient-card.png" width="200">
  </div>
  <!-- TODO deserves a component -->
  <div id="left-nav">
    <ul>
        <li><span>Discussion topics</span></li>
        <li class="active"><span>Consultation</span></li>
        <li><span>Prevention Card</span></li>
        <li><span>Information</span></li>
        <li><span>Administration</span></li>
    </ul>
  </div>
</aside>