@import '../../assets/style/variables'

#left-container
    width: $left-panel-width
    background-color: $dark-blue

#patient-card
    background-color: $light-green

#left-nav 
    ul
        padding: 10px 0px 10px 0px
        
        li
            list-style-type: none;
            margin: 0px 10px 0px 10px
            padding: 10px 10px 10px 20px

            span
                color: $secondary-font-color

        li.active, li:hover
                background-color: $light-blue

