
/* Using a prebuilt-theme and overriding import */
/* TODO make own eviprev theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"

@import './assets/style/variables'


/* global style */
html *
    font-family: Helvetica, Arial, Sans-Serif
    color: $dark-blue

body
    margin: 0

/* dirty temp override */
button
    background-color: $dark-blue !important

    span
        color: $secondary-font-color !important


.mat-radio-button.mat-accent .mat-radio-inner-circle
    background-color: $dark-blue

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle
    border-color: $dark-blue

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb
    background-color: $dark-blue
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar
    background-color: $secondary-font-color

/* global style classes */
.align-right
    text-align: right

/* flex-layout bug fix, when screen large, content is a bit smaller */
app-core
    display: block !important 
