@import '../../assets/style/variables'

mat-sidenav-container#sidenav-layout
    position: relative;

    mat-sidenav
        background-color: $dark-blue

#toggle-button
    position: absolute
    margin-left: 5px
    margin-top: -28px
    z-index: 100
