<i id="toggle-button" (click)="sidenavToggle()" class="material-icons">menu</i>

<mat-sidenav-container id="sidenav-layout" fxLayout="row" fxFlexFill>
    <mat-sidenav *ngIf="!media.isActive('xs')" id="sidenav" mode="side" role="navigation" [(opened)]="opened" fxFlex="200px" fxShow  >
        <app-left></app-left>
    </mat-sidenav>

    <mat-sidenav *ngIf="media.isActive('xs')" id="sidenav-mob" mode="side" role="navigation" [(opened)]="opened" fxFlex="200px" fxHide >
        <app-left></app-left>
    </mat-sidenav>
    
    <mat-sidenav-content fxFlex="100%">
        <app-main></app-main>
    </mat-sidenav-content>
</mat-sidenav-container>
